@tailwind base;
@tailwind components;
@tailwind utilities;

/* App defaults */
html,
body {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900;
}

/* A11y: ensure focus rings are visible */
:focus-visible {
  outline: none;
}
